<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scau.mime.dao.AdminMapper">
  
  <select id="findByAdminID" parameterType="int" resultType="Admin">
  	SELECT admin_id,password,name,state 
  	FROM admin 
  	WHERE admin_id = #{adminId}
  </select>
  
  <select id="findByName" parameterType="string" resultType="Admin">
  	SELECT admin_id,password,name,state 
  	FROM admin 
  	WHERE name = #{name}
  </select>
  
<!--   <insert id="reg" parameterType="Customer" useGeneratedKeys="true"> -->
<!--   	INSERT INTO customer(customer_id,account,`password`, point,e_mail,phone,sex,borndate) -->
<!-- 	VALUES (#{customerid},#{account},#{password},#{point},#{email},#{phone},#{sex},#{borndate}) -->
<!--   </insert> -->
  
<!--   <update id="update" parameterType="Account"> -->
<!--   	update  -->
<!--   	set  -->
<!--   	where  -->
<!--   </update> -->
  
</mapper>